## Data cleasning and preprocessing of the option pricing data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [2]:
# Read in the data from Jan 2023 to June 2023
df_2023_1 = pd.read_csv('spy_eod_202301.txt', sep = ',')
df_2023_2 = pd.read_csv('spy_eod_202302.txt', sep = ',')
df_2023_3 = pd.read_csv('spy_eod_202303.txt', sep = ',')
df_2023_4 = pd.read_csv('spy_eod_202304.txt', sep = ',')
df_2023_5 = pd.read_csv('spy_eod_202305.txt', sep=',', dtype={13: 'object'})
df_2023_5.iloc[:, 13] = pd.to_numeric(df_2023_5.iloc[:, 13].replace(' ', np.nan), errors='coerce')  # why 5 is different? 
df_2023_6 = pd.read_csv('spy_eod_202306.txt', sep = ',')

In [3]:
df_2023_h1 = pd.concat([df_2023_1, df_2023_2, df_2023_3, df_2023_4,df_2023_5, df_2023_6])
# Remove spaces in col names
df_2023_h1.columns = df_2023_h1.columns.str.strip()
df_2023_h1.columns

Index(['[QUOTE_UNIXTIME]', '[QUOTE_READTIME]', '[QUOTE_DATE]',
       '[QUOTE_TIME_HOURS]', '[UNDERLYING_LAST]', '[EXPIRE_DATE]',
       '[EXPIRE_UNIX]', '[DTE]', '[C_DELTA]', '[C_GAMMA]', '[C_VEGA]',
       '[C_THETA]', '[C_RHO]', '[C_IV]', '[C_VOLUME]', '[C_LAST]', '[C_SIZE]',
       '[C_BID]', '[C_ASK]', '[STRIKE]', '[P_BID]', '[P_ASK]', '[P_SIZE]',
       '[P_LAST]', '[P_DELTA]', '[P_GAMMA]', '[P_VEGA]', '[P_THETA]',
       '[P_RHO]', '[P_IV]', '[P_VOLUME]', '[STRIKE_DISTANCE]',
       '[STRIKE_DISTANCE_PCT]'],
      dtype='object')

In [4]:
df_2023_h1

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1672779600,2023-01-03 16:00,2023-01-03,16.0,380.82,2023-01-03,1672779600,0.00,0.96551,0.00562,...,0.01,-0.00075,0.00015,0.00072,-0.00483,-0.00015,1.210050,0.000000,70.8,0.186
1,1672779600,2023-01-03 16:00,2023-01-03,16.0,380.82,2023-01-03,1672779600,0.00,0.96015,0.00703,...,0.02,-0.00093,0.00025,0.00104,-0.00487,0.00000,0.996160,0.000000,60.8,0.160
2,1672779600,2023-01-03 16:00,2023-01-03,16.0,380.82,2023-01-03,1672779600,0.00,0.95788,0.00778,...,0.00,-0.00140,0.00020,0.00105,-0.00538,-0.00007,0.911990,,56.8,0.149
3,1672779600,2023-01-03 16:00,2023-01-03,16.0,380.82,2023-01-03,1672779600,0.00,0.96337,0.00810,...,0.02,-0.00081,0.00026,0.00115,-0.00500,-0.00048,0.890650,0.000000,55.8,0.147
4,1672779600,2023-01-03 16:00,2023-01-03,16.0,380.82,2023-01-03,1672779600,0.00,0.95600,0.00817,...,0.01,-0.00119,0.00022,0.00043,-0.00533,-0.00044,0.870040,0.000000,54.8,0.144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78019,1688155200,2023-06-30 16:00,2023-06-30,16.0,443.23,2025-12-19,1766178000,903.04,0.08001,0.00168,...,0.00,-1.00000,0.00000,0.00000,0.00000,0.00000,,,196.8,0.444
78020,1688155200,2023-06-30 16:00,2023-06-30,16.0,443.23,2025-12-19,1766178000,903.04,0.07941,0.00162,...,0.00,-1.00000,0.00000,0.00000,0.00000,0.00000,,,201.8,0.455
78021,1688155200,2023-06-30 16:00,2023-06-30,16.0,443.23,2025-12-19,1766178000,903.04,0.07485,0.00159,...,211.00,-1.00000,0.00000,0.00000,0.00000,0.00000,,0.000000,206.8,0.467
78022,1688155200,2023-06-30 16:00,2023-06-30,16.0,443.23,2025-12-19,1766178000,903.04,0.06803,0.00148,...,0.00,-1.00000,0.00000,0.00000,0.00000,0.00000,,,211.8,0.478
78023,1688155200,2023-06-30 16:00,2023-06-30,16.0,443.23,2025-12-19,1766178000,903.04,0.07588,0.00152,...,0.00,-1.00000,0.00000,0.00000,0.00000,0.00000,,,216.8,0.489

In [5]:
df_2023_h1.isnull().sum()

[QUOTE_UNIXTIME]            0
[QUOTE_READTIME]            0
[QUOTE_DATE]                0
[QUOTE_TIME_HOURS]          0
[UNDERLYING_LAST]           0
[EXPIRE_DATE]               0
[EXPIRE_UNIX]               0
[DTE]                       0
[C_DELTA]                   0
[C_GAMMA]                   0
[C_VEGA]                    0
[C_THETA]                   0
[C_RHO]                     0
[C_IV]                   1688
[C_VOLUME]                  0
[C_LAST]                    0
[C_SIZE]                    0
[C_BID]                     0
[C_ASK]                     0
[STRIKE]                    0
[P_BID]                     0
[P_ASK]                     0
[P_SIZE]                    0
[P_LAST]                    0
[P_DELTA]                   0
[P_GAMMA]                   0
[P_VEGA]                    0
[P_THETA]                   0
[P_RHO]                     0
[P_IV]                      0
[P_VOLUME]                  0
[STRIKE_DISTANCE]           0
[STRIKE_DISTANCE_PCT]       0
dtype: int64

In [6]:
# Deal with missing values of Inplied Volatility [C_IV], [P_IV]
"""for col in ['[C_IV]', '[P_IV]']:
    df_2023_h1[col] = pd.to_numeric(df_2023_h1[col], errors='coerce')
    df_2023_h1[col] = df_2023_h1[col].fillna(df_2023_h1[col].mean(), inplace=True)"""
# reworked

"for col in ['[C_IV]', '[P_IV]']:\n    df_2023_h1[col] = pd.to_numeric(df_2023_h1[col], errors='coerce')\n    df_2023_h1[col] = df_2023_h1[col].fillna(df_2023_h1[col].mean(), inplace=True)"

In [7]:
# only C_IV has null, due to the nature of call options? 
print(df_2023_h1['[C_IV]'].isnull().sum())
print(df_2023_h1['[P_IV]'].isnull().sum())

1688
0

In [8]:
df_2023_h1[df_2023_h1['[C_IV]'].notnull()]['[C_IV]']

0         4.346730
1         3.872190
2         3.682610
3         3.598520
4         3.590290
           ...
78019     0.126480
78020     0.129160
78021     0.129790
78022     0.128110
78023     0.135610
Name: [C_IV], Length: 480539, dtype: object

In [9]:
df_2023_h1['[C_IV]'] = pd.to_numeric(df_2023_h1['[C_IV]'], errors='coerce')
df_2023_h1[df_2023_h1['[C_IV]'].notnull()]['[C_IV]'].mean()

0.28556583081441916

In [10]:
df_2023_h1['[C_IV]'].fillna(df_2023_h1[df_2023_h1['[C_IV]'].notnull()]['[C_IV]'].mean(), inplace=True) # use mask to get rid of NaN during mean calculation

In [11]:
df_2023_h1['[C_IV]'].unique()

array([4.34673, 3.87219, 3.68261, ..., 0.55173, 0.43734, 0.44685])

In [12]:
print(df_2023_h1['[C_IV]'].isnull().sum())
print(df_2023_h1['[P_IV]'].isnull().sum())

0
0

In [13]:
df_2023_h1['[C_IV]']

0        4.34673
1        3.87219
2        3.68261
3        3.59852
4        3.59029
          ...
78019    0.12648
78020    0.12916
78021    0.12979
78022    0.12811
78023    0.13561
Name: [C_IV], Length: 482227, dtype: float64

In [14]:
# convert date to datetime 
"""date_cols = ['[QUOTE_READTIME]', '[QUOTE_DATE]', '[EXPIRE_DATE]']
for col in date_cols:
    df_2023_h1[col] = pd.to_datetime(df_2023_h1[col])"""
# no need, we use unix time

"date_cols = ['[QUOTE_READTIME]', '[QUOTE_DATE]', '[EXPIRE_DATE]']\nfor col in date_cols:\n    df_2023_h1[col] = pd.to_datetime(df_2023_h1[col])"

In [15]:
# Now do some feature engineering. First deal with moneyness. Moneyness, 
# by definition, refers to the strike price of an option relative to the current trading price of the underlying asset.
df_2023_h1['Moneyness'] = 'ATM'
df_2023_h1.loc[df_2023_h1['[STRIKE]'] < df_2023_h1['[UNDERLYING_LAST]'], 'Moneyness'] = 'ITM'
df_2023_h1.loc[df_2023_h1['[STRIKE]'] > df_2023_h1['[UNDERLYING_LAST]'], 'Moneyness'] = 'OTM'

In [16]:
# Basic normalization and standardization
# run block of code and catch warnings
import warnings
from sklearn.preprocessing import StandardScaler
with warnings.catch_warnings():
	# ignore all caught warnings
	warnings.filterwarnings("ignore")
	# execute code that will generate warnings
	scaler = StandardScaler()
	numeric_cols = ['[UNDERLYING_LAST]', '[DTE]', '[C_DELTA]', '[C_GAMMA]', '[C_VEGA]', '[C_THETA]', '[C_RHO]', '[STRIKE_DISTANCE]', '[STRIKE_DISTANCE_PCT]']  # there are more numeric columns ... 
	df_2023_h1[numeric_cols] = scaler.fit_transform(df_2023_h1[numeric_cols])

In [18]:
# Extract features from datetime and encode categorical features
# Do we still use datetime ?? or just use unix 
"""df_2023_h1['[QUOTE_MONTH]'] = df_2023_h1['[QUOTE_DATE]'].dt.month
df_2023_h1['[EXPIRE_WEEKDAY]'] = df_2023_h1['[EXPIRE_DATE]'].dt.weekday
df_2023_h1=pd.get_dummies(df_2023_h1, columns = ['Moneyness'])"""

"df_2023_h1['[QUOTE_MONTH]'] = df_2023_h1['[QUOTE_DATE]'].dt.month\ndf_2023_h1['[EXPIRE_WEEKDAY]'] = df_2023_h1['[EXPIRE_DATE]'].dt.weekday\ndf_2023_h1=pd.get_dummies(df_2023_h1, columns = ['Moneyness'])"

In [22]:
# df_2023_h1 = df_2023_h1.drop(['[QUOTE_DATE]', '[QUOTE_READTIME]',  '[QUOTE_TIME_HOURS]', '[EXPIRE_DATE]', '[QUOTE_MONTH]', '[EXPIRE_WEEKDAY]','Moneyness_ATM', 'Moneyness_ITM', 'Moneyness_OTM'], axis = 1) # a bunch of columns with dup info or None.

In [23]:
df_2023_h1.columns

Index(['[QUOTE_UNIXTIME]', '[QUOTE_READTIME]', '[QUOTE_DATE]',
       '[QUOTE_TIME_HOURS]', '[UNDERLYING_LAST]', '[EXPIRE_DATE]',
       '[EXPIRE_UNIX]', '[DTE]', '[C_DELTA]', '[C_GAMMA]', '[C_VEGA]',
       '[C_THETA]', '[C_RHO]', '[C_IV]', '[C_VOLUME]', '[C_LAST]', '[C_SIZE]',
       '[C_BID]', '[C_ASK]', '[STRIKE]', '[P_BID]', '[P_ASK]', '[P_SIZE]',
       '[P_LAST]', '[P_DELTA]', '[P_GAMMA]', '[P_VEGA]', '[P_THETA]',
       '[P_RHO]', '[P_IV]', '[P_VOLUME]', '[STRIKE_DISTANCE]',
       '[STRIKE_DISTANCE_PCT]', 'Moneyness'],
      dtype='object')

In [24]:
df_2023_h1

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT],Moneyness
0,1672779600,2023-01-03 16:00,2023-01-03,16.0,-1.998754,2023-01-03,1672779600,-0.703380,1.068270,-0.007887,...,-0.00075,0.00015,0.00072,-0.00483,-0.00015,1.210050,0.000000,-0.010219,0.067221,ITM
1,1672779600,2023-01-03 16:00,2023-01-03,16.0,-1.998754,2023-01-03,1672779600,-0.703380,1.054817,0.087063,...,-0.00093,0.00025,0.00104,-0.00487,0.00000,0.996160,0.000000,-0.158317,-0.089966,ITM
2,1672779600,2023-01-03 16:00,2023-01-03,16.0,-1.998754,2023-01-03,1672779600,-0.703380,1.049120,0.137568,...,-0.00140,0.00020,0.00105,-0.00538,-0.00007,0.911990,,-0.217556,-0.156468,ITM
3,1672779600,2023-01-03 16:00,2023-01-03,16.0,-1.998754,2023-01-03,1672779600,-0.703380,1.062899,0.159116,...,-0.00081,0.00026,0.00115,-0.00500,-0.00048,0.890650,0.000000,-0.232366,-0.168560,ITM
4,1672779600,2023-01-03 16:00,2023-01-03,16.0,-1.998754,2023-01-03,1672779600,-0.703380,1.044401,0.163830,...,-0.00119,0.00022,0.00043,-0.00533,-0.00044,0.870040,0.000000,-0.247176,-0.186697,ITM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78019,1688155200,2023-06-30 16:00,2023-06-30,16.0,2.419047,2025-12-19,1766178000,3.120223,-1.154205,-0.273207,...,-1.00000,0.00000,0.00000,0.00000,0.00000,,,1.855811,1.627003,OTM
78020,1688155200,2023-06-30 16:00,2023-06-30,16.0,2.419047,2025-12-19,1766178000,3.120223,-1.155711,-0.277247,...,-1.00000,0.00000,0.00000,0.00000,0.00000,,,1.929860,1.693505,OTM
78021,1688155200,2023-06-30 16:00,2023-06-30,16.0,2.419047,2025-12-19,1766178000,3.120223,-1.167156,-0.279267,...,-1.00000,0.00000,0.00000,0.00000,0.00000,,0.000000,2.003909,1.766053,OTM
78022,1688155200,2023-06-30 16:00,2023-06-30,16.0,2.419047,2025-12-19,1766178000,3.120223,-1.184273,-0.286675,...,-1.00000,0.00000,0.00000,0.00000,0.00000,,,2.077958,1.832555,OTM
78023,1688155200,2023-06-30 16:00,2023-06-30,16.0,2.419047,2025-12-19,1766178000,3.120223,-1.164570,-0.283981,...,-1.00000,0.00000,0.00000,0.00000,0.00000,,,2.152007,1.899058,OTM

In [ ]:
# # Outlier detection
# num_col = df_2023_h1.select_dtypes(include=['int64', 'float64']).columns
# for i in num_col:
#     q75, q25 = np.percentile(df_2023_h1[i], [75 ,25])
#     iqr = q75 - q25
#     min = q25 - (iqr*1.5)
#     max = q75 + (iqr*1.5)