In [1]:
import pandas as pd

In [3]:
df = pd.read_table('../data/spy_eod_2023q1/spy_eod_202301.txt')

In [9]:
df

      [QUOTE_UNIXTIME], [QUOTE_READTIME], [QUOTE_DATE], [QUOTE_TIME_HOURS], [UNDERLYING_LAST], [EXPIRE_DATE], [EXPIRE_UNIX], [DTE], [C_DELTA], [C_GAMMA], [C_VEGA], [C_THETA], [C_RHO], [C_IV], [C_VOLUME], [C_LAST], [C_SIZE], [C_BID], [C_ASK], [STRIKE], [P_BID], [P_ASK], [P_SIZE], [P_LAST], [P_DELTA], [P_GAMMA], [P_VEGA], [P_THETA], [P_RHO], [P_IV], [P_VOLUME], [STRIKE_DISTANCE], [STRIKE_DISTANCE_PCT]
0      1672779600, 2023-01-03 16:00, 2023-01-03, 16.0...
1      1672779600, 2023-01-03 16:00, 2023-01-03, 16.0...
2      1672779600, 2023-01-03 16:00, 2023-01-03, 16.0...
3      1672779600, 2023-01-03 16:00, 2023-01-03, 16.0...
4      1672779600, 2023-01-03 16:00, 2023-01-03, 16.0...
...                                                  ...
78916  1675198800, 2023-01-31 16:00, 2023-01-31, 16.0...
78917  1675198800, 2023-01-31 16:00, 2023-01-31, 16.0...
78918  1675198800, 2023-01-31 16:00, 2023-01-31, 16.0...
78919  1675198800, 2023-01-31 16:00, 2023-01-31, 16.0...
78920  1675198800, 2023-01-31 16:00, 2023-01-31, 16.0...

[78921 rows x 1 columns]